body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

#gameContainer {
    width: 100vw; /* Take up 100% of the viewport width */
    max-width: 800px; /* Example max width */
    height: 50vw; /* Height can also be responsive, or use a fixed height */
    max-height: 400px; /* Example max height */
    position: relative;
    overflow: hidden;
    margin: auto; /* Center the game container if there's extra space */
    background-color: #9BD8EB;
}

#dino {
    position: absolute;
    bottom: 0;
    width: 64px;
    height: 64px;
    background-image: url('char.jpg');
    background-size: cover; /* Adjust as needed to fit the element */
    /* background-color: #000; */
    left: 50px;
}

#ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background-color: #444;
}

.obstacle {
    position: absolute;
    bottom: 0;
    width: 5vw; /* Example responsive width for obstacles */
    max-width: 40px; /* Prevent obstacles from becoming too large */
    height: auto; /* Maintain aspect ratio */
    background-color: green;
}

#score {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #000;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
}

#startBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 10; /* Make sure it's clickable over other elements */
}

#scoreboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #000;
    z-index: 1000; /* Ensure it's above other elements */
}

#finalScore {
    font-size: 24px;
    margin: 20px;
}

#restartBtn {
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

@media (max-width: 600px) {
    #gameContainer {
        height: 75vw; /* Increase height proportion on smaller screens */
    }
    #dino, .obstacle {
        bottom: 15%; /* Adjust positioning for smaller screens */
    }
    /* Other responsive adjustments */
}